TABLE {
    
       border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    
    min-width: 60px; 
    min-height: 60px; 
	width: 60px;
	height: 60px;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
  
   